.side {
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  border-left-width: 1px;
  border-left-color: silver;
  border-left-style: solid;
}

.recipe {
  width: 80%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
