<div class="card" style="height: 60vh;" [ngStyle]="{
    'border-width': '3px',
    'border-color': ingredient.peso_balanza > 0
        ? (ingredient.peso_balanza >= (ingredient.cantidad - ingredient.desviacion)
          && ingredient.peso_balanza <= (ingredient.cantidad + ingredient.desviacion)
          ? 'rgb(56,136,9)' : 'red')
        : null
    }">
  <div class="card-body">
    <table class="table table-over">
      <thead>
        <tr>
          <th colspan="3">
            <h4>
              {{ingredient.orden}} {{ingredient.nombre}}
            </h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="row">
              <h3 class="col-12" style="text-align: center;">
                Cantidad Requerida
              </h3>
              <h1 class="col-12" style="text-align: center; font-size: 20vh;">
                {{ingredient.cantidad}}
              </h1>
            </div>
          </td>
          <td>
            <div class="row">
              <h3 class="col-12" style="text-align: center;">
                Peso Ingrediente Actual
              </h3>
              <h1 class="col-12" style="text-align: center; font-size: 20vh;" [ngStyle]="{
                'color': ingredient.peso_balanza > 0
                    ? (ingredient.peso_balanza >= (ingredient.cantidad - ingredient.desviacion)
                      && ingredient.peso_balanza <= (ingredient.cantidad + ingredient.desviacion)
                      ? 'rgb(56,136,9)' : 'red')
                    : null
                }">
                {{ingredient.peso_balanza}}
              </h1>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" style="text-align: right;">
    <button type="button" class="btn btn-primary" style="font-size: 4vh;">CONTINUAR</button>
  </div>
</div>
